services:
  api-gateway:
    build: ./api-gateway
    container_name: api-gateway
    ports:
      - "3000:3000"
    depends_on:
      - authentication
      - orders
      - payments

  mongodb:
    image: mongo:6
    container_name: mongodb
    ports:
      - "27017:27017"
    volumes:
      - mongo_data:/data/db

  authentication:
    build: ./authentication
    container_name: authentication
    ports:
      - "3001:3001"
    env_file:
      - ./authentication/.env
    depends_on:
      - mongodb
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:3001/health"]
      interval: 10s
      timeout: 5s
      retries: 3

  orders:
    build: ./orders
    container_name: orders
    ports:
      - "3002:3002"
    env_file:
      - ./orders/.env
    depends_on:
      - mongodb
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:3002/health"]
      interval: 10s
      timeout: 5s
      retries: 3

  payments:
    build: ./payment
    container_name: payments
    ports:
      - "3003:3003"
    env_file:
      - ./payment/.env
    depends_on:
      - mongodb
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:3003/health"]
      interval: 10s
      timeout: 5s
      retries: 3

volumes:
  mongo_data:
